<!DOCTYPE html>
<html lang="pt-br">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sobre</title>
        <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='icons/icon.png')}}" />
        <link rel="stylesheet" href="{{url_for('static', filename='style/style.css')}}" />
        <link rel="stylesheet" href="{{url_for('static', filename='style/style_about_1.css')}}" />
        <link rel="stylesheet" href="../static/style/style_about_1.css" />
        <script type="text/javascript" src="../static/script/script_about.js"></script>
    </head>

    <body>
        <header>
            <a href="{{url_for('index')}}" id="logo">
                <img src="{{url_for('static', filename='icons/icon.png')}}" class="logo" />
            </a>
            <button id="openMenu">&#9776</button>
            <nav id="menu">
                <button id="closeMenu">X</button>
                <a href="{{url_for('index')}}">Início</a>
                <a href="{{url_for('download')}}">Produtos</a>
                <a href="{{url_for('about_fracigma')}}">Sobre</a>
                <a href="{{url_for('contact')}}">Contato</a>
            </nav>
        </header> 
        <aside>
            <div id="container">
                <div id="div_b">
                    <h1>Mais sobre nós</h1>
                </div>
                <div>
                    <a href="{{url_for('politicas_privacidae')}}"><button type="button" >Políticas e privacidade</button></a>
                </div>
                <div id="bo">
                    <a href="{{url_for('nossos_interesses')}}"><button type="button" >Nossos interesses</button></a>
                </div>
            </div>
        </aside>
        <main>
            <h1>FraCIGMA</h1>
            <section>
                <div id="container">
                    <div id="about" >
                        <p id="info" class="info">
                            Bem-vindo ao nosso universo Python! Somos uma equipe dedicada apaixonada por tecnologia e desenvolvimento, especializada na criação de Softwares em Python. Aqui, oferecemos uma ampla gama de recursos que vão desde sites personalizados, sistemas eficientes até bots inteligentes, todos desenvolvidos com a flexibilidade e poder dessa linguagem de programação versátil.

                            No coração do nosso trabalho está a missão de simplificar a complexidade tecnológica. Acreditamos que a tecnologia deve ser acessível e intuitiva para todos, e é por isso que oferecemos uma variedade de conteúdos em nosso site, abordando uma infinidade de tópicos relacionados à programação, inovação tecnológica, dicas e truques em Python e muito mais.
                            </p><br /><p id="info" class="info">
                            Nosso espaço online é um ambiente aberto para exploradores, novatos e especialistas. Não exigimos a criação de uma conta para acessar nossos valiosos recursos. Queremos compartilhar conhecimento, inspirar a criatividade e oferecer soluções práticas para desafios de programação e desenvolvimento.
                            
                            Seja você um entusiasta de Python, um aspirante a desenvolvedor ou alguém em busca de soluções técnicas eficazes, você encontrará aqui um local acolhedor para expandir seus conhecimentos e explorar o vasto mundo da programação em Python.
                            
                            Junte-se a nós nesta jornada de descoberta, aprendizado e inovação - porque a tecnologia é mais emocionante quando é compartilhada!
                        </p>
                    </div>
                </div>
            </section>
        </main>
        
        <footer>
            <div id="div">©2023 FraCIGMA</div>
            <div>
                <a href="#"><img src="../static/icons/icon1.png" /></a>
                <a href="#"><img src="../static/icons/icon4.png" /></a>
            </div>
            <div>
                <a href="#"><img src="../static/icons/icon8.png" /></a>
                <a href="#"><img src="../static/icons/icon5.png" /></a>
            </div>
        </footer>

        <script type="text/javascript" src="{{url_for('static', filename='/script/script.js')}}">
        </script>
        <script type="text/javascript" src="../static/script/script_about.js"></script>
    </body>
</html>